# STS specific files
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans

# Compiled output
target/

# Dependency management
!**/src/ # Include source code
!**/pom.xml # Include pom.xml files
!**/.mvn/wrapper/maven-wrapper.jar # Include Maven wrapper files

# IDE metadata
.metadata/
.local/
.springBeans/

# Logs
*.log

# Miscellaneous
*.swp
*~
.DS_Store
