# Eclipse specific files
.classpath
.project
.settings/

# Compiled output
bin/
target/

# Dependency management
lib/
libs/

# IDE metadata
.metadata/

# SpringBoot-specific files
*.log
*.jar
*.war
*.ear
*.class
*.exe
*.dll
*.so
*.dylib
*.bak
*.tmp
*.tmp.*
*.swp